__pycache__
Datasets/Neural-Dialogue-Generation/
Datasets/OpenSubtitles/Files/
Datasets/OpenSubtitles/osdb_*
Datasets/OpenSubtitles/subtitles.txt
Datasets/OpenSubtitles/vocabulary.txt
Model\ Weights/
Results/
